<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Spacetree - Tree Animation</title>

<!-- CSS Files -->
<link type="text/css" href="/stylesheets/base.css" rel="stylesheet" />
<link type="text/css" href="/stylesheets/Spacetree.css" rel="stylesheet" />

<!--[if IE]><script language="javascript" type="text/javascript" src="../../Extras/excanvas.js"></script><![endif]-->

<!-- JIT Library File -->
<script language="javascript" type="text/javascript" src="/javascripts/jit.js"></script>

<!-- Example File -->
<script language="javascript" type="text/javascript" src="/javascripts/example1.js"></script>
</head>


<script>
  var json = <%= @json %>
</script>


<body onload="init(json);">
<div id="container">

<div id="infovis"></div>

<div id="log"></div>
</div>
</body>
</html>