html, body {
    margin:0;
    padding:0;
    font-family: "Lucida Grande", Verdana;
    font-size: 0.9em;
    text-align: center;
    background-color:#F2F2F2;
    width:100%;
    height:100%;
}

input, select {
    font-size:0.9em;
}

table {
    margin-top:-10px;
    margin-left:7px;
}

h4 {
    font-size:1.1em;
    text-decoration:none;
    font-weight:normal;
    color:#23A4FF;
}

a {
    color:#23A4FF;
}

#container {
    width: 100%;
    height: 100%;
    margin:0 auto;
    position:relative;
}

.text {
    margin: 7px;
}

#inner-details {
    font-size:0.8em;
    list-style:none;
    margin:7px;
}

#log {
    position:absolute;
    top:10px;
    left:10px;
    font-size:10px;
    font-weight:bold;
    color:#999;
}

#info {
    position:absolute;
    color:#ccc;
    top:30px;
    left:10px;
    font-size:10px;
    font-weight:bold;
    text-align:left;
}

#infovis {
    position:relative;
    width:100%;
    height:100%;
    margin:auto;
    overflow:hidden;
/*    background:#fff7eb;*/
    background:#333;
    cursor:move;
}

/*TOOLTIPS*/
.tip {
    color: #111;
    width: 139px;
    background-color: white;
    border:1px solid #ccc;
    -moz-box-shadow:#555 2px 2px 8px;
    -webkit-box-shadow:#555 2px 2px 8px;
    -o-box-shadow:#555 2px 2px 8px;
    box-shadow:#555 2px 2px 8px;
    opacity:0.9;
    filter:alpha(opacity=90);
    font-size:10px;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding:7px;
}